PORT=8000
MONGODB_URI='mongodb://127.0.0.1:27017/'
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET = JDHFUFHWQIUY2838difjirjfkdfmuiAIDFJUiwur84rjv
ACCESS_TOKEN_EXPIRY = 1d
REFRESH_TOKEN_SECRET = jdjfnjfKADFJIEFOI8937845KDSJFIkdjfjdKMDWIJF823 
REFRESH_TOKEN_EXPIRY = 10d